@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?enay6r');
    src:  url('../fonts/icomoon.eot?enay6r#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?enay6r') format('truetype'),
      url('../fonts/icomoon.woff?enay6r') format('woff'),
      url('../fonts/icomoon.svg?enay6r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-instagram:before {
    content: "\e900";
    color: #e4405f;
  }
  .icon-facebook:before {
    content: "\e902";
    color: #3b5998;
  }
  .icon-whatsapp:before {
    content: "\e901";
    color: #25d366;
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-cancel:before {
    content: "\ea0d";
  }

/*My code*/
body {
    margin: 0px;
    font-family: 'Roboto', serif;
}

label {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

.background {
    background: #F3754E;    
}

.btn-primary {
    background-color: #0D3E66;
    color: white;
    
}

.contenedor {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.contenedorheader {
    position: relative;
    background-color: white;
}

.footer {
    background: white;
    height: 200px;
}

.footer-logo {
    display: inline-block;
}

.footer-space {
    display: flex;
    align-items: center;
}

.footer-social-icons{
    width: 100%;
    margin-left: 600px;
}

.footer-social-icons-span {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.form {
    margin-top: 25px;
}

.form-row {
    margin-top: 20px;
    margin-bottom: 25px;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.headerImg {
    background-image: url('../images/sareru300px.png');
    width: 100px;
    height: 100px;
}*/

.menu a {
    font-size: 30px;
    text-decoration: none;
    color:#0D3E66;
}

.menu ul {
    display: inline-block;
}

.logotipo {
    display: inline-block;
}

.media-title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.media-down {
    margin-top: 10px;
}

.media-down > p {
    color: #F3754E;
    font-style: italic;
}

.media-image {
    width: 75px;
    margin-right: 10px;
}

.media-up {
    display: flex;
    align-items: center;
}

.media-up > p {
    font-weight: bold;
}

.menu li {
    list-style-type: none;
    font-size: 25px;
    line-height: 80px;
}

.label {
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.labelForm {
    font-size: 65px;
    margin-bottom: 0;
    color: #0D3E66;
}

.operacion {
    padding: 40px 0 40px;
    margin-top: 20px;
    background: #0D3E66;
}

.portada {
    height: auto;
    padding-bottom: 10vh;
}

.step1 {
    width: 45%;
}

.step2 {
    width: 45%;
}

.step3 {
    width: 45%;
}

.step4 {
    width: 45%;
}


.step1-2 {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 25px;
}

.step3-4 {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 25px;
}

.titulo {
    text-align: center;
    font-size: 65px;
    padding: 30px 0;
}

.we {
    color: #0D3E66;
}

@media screen and (max-width: 320px) {
   .header {
       flex-direction: column;
       align-items: center;
       width: 320px;
       height: auto;
   }

   .logotipo {
       margin-bottom: 0;
   }

   .logotipo img {
       width: 250px;
       height: auto;
   }

   .portada {
        width: 320px;
        height: 100vh;
   }
}