body {
    margin: 0px;
    font-family: 'Roboto', serif;
}

label {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

.background {
    background: #F3754E;    
}

.btn-submit {
    color: #0D3E66;
}

.contenedor {
    width: 1200px;
    margin: auto;
    position: relative;
}

.contenedorheader {
    position: relative;
    background-color: white;
}

.footer {
    background: white;
    height: 200px;
}

.footer-logo {
    display: inline-block;
}

.footer-space {
    display: flex;
    align-items: center;
}

.footer-social-icons{
    width: 100%;
    margin-left: 400px;
}

.footer-social-icons-span {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.form {
    margin-top: 25px;
}

.form-row {
    margin-top: 20px;
    margin-bottom: 25px;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.menu {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50px;
}*/

.menu a {
    font-size: 30px;
    text-decoration: none;
    color:#0D3E66;
}

.menu ul {
    display: inline-block;
}

.logotipo {
    display: inline-block;
}

.media-title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.media-up-step1 {
    display: flex;
    align-items: center;
}

.media-up-step2 {
    display: flex;
    align-items: center;
}

.media-up-step3 {
    display: flex;
    align-items: center;
}

.media-up-step4 {
    display: flex;
    align-items: center;
}

.menu li {
    list-style-type: none;
    font-size: 25px;
    line-height: 80px;
}

.label {
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.labelForm {
    font-size: 65px;
    margin-bottom: 0;
    color: #0D3E66;
}

.operacion {
    padding-top: 40px;
    margin-top: 20px;
    background: #0D3E66;
}

.portada {
    height: 500px;
}

.step1 {
    width: 45%;
}

.step2 {
    width: 45%;
}

.step3 {
    width: 45%;
}

.step4 {
    width: 45%;
}


.step1-2 {
    color: white;
    display: flex;
    justify-content: space-between;
}

.step3-4 {
    color: white;
    display: flex;
    justify-content: space-between;
}

.titulo {
    text-align: center;
    font-size: 65px;
    padding: 30px 0;
}

.we {
    color: #0D3E66;
}
